.login-bg {
    /* Full height */
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

.card-parent {
    background-image: url(../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-attachment: fixed;
}

#btn-login {
    background-color: #FF5F1F;
}

#btn-login:hover {
    background-color: crimson;
}

#resend-otp-link:hover {
    cursor: pointer;
}