{
    "presets": [
      ["@babel/env", {
        "targets": {
          "node": "12.22.7"
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
  }