.bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

.user-select:hover {
    cursor: pointer;
}

.book-detail-cover-view {
    width: 100px;
    height: 140px;
}

.book-detail-cover-view img {
    height: 100%;
    width: 100%;
}