.payment0{
    color:white;
    background-color: #dc3545;
}
.payment1{
    color: white;
    background-color: #0d6efd;
}
.status0{
    color: white;
    background-color: #adb5bd;
}
.status1{
    color: white;
    background-color: #ffc107;
}
.status2{
    color: white;
    background-color: #0d6efd;
}
.status3{
    color: white;
    background-color: #fd7e14;
}
.status4{
    color: white;
    background-color: #198754;
}
.orderStatus{
    font-weight: 550;
    padding: 10px;
    border-radius: 15px;
}