.category-items{
   
    background: rgba(25, 25, 25, 0.9);
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 50%;
    height: auto;
    z-index: 1000;
    float: right;
    margin-right: 20rem;
   
}
.category-icons{
    margin-right: 37rem;
    font-size:5rem;
    padding: 0;
}
.li-cate{
    text-align: -webkit-match-parent;
    list-style: none;
    float: left;
    top: auto; 
    position: relative;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
   
    cursor: default;



}