#footer-container {
    background-color: #e8e2c1;
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-weight: 500;
    position: absolute;
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

#footer-container ul li {
    list-style-type: none;
    text-align: left;

}

#added-transparent {
    height: 50vh;
}