#book-detail-cover-history {
    width: 100px;
    height: 150px;

}

#book-detail-cover-history img {
    width: 100%;
    height: 100%;
}

.order-history-nav div {
    font-size: 0.9em;
}

.nav-item-history:hover {
    background-color: #DCDCDC;
}